@mixin text($font-size, $color) {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  line-height: 100%;
  letter-spacing: 0;
  color: $color;
}

.card {
  max-width: 1258px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 50px 40px;

  background: #fff;
  border: 30px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 2px 16px rgb(24 105 227 / 8%);
}

@media (max-width: 500px) {
  .card {
    padding: 15px;
  }
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

.left {
  width: 410px; // предположительно есть максимум
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.schedule {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kicker {
  @include text(20px, --txt-2);
}

.title {
  @include text(45px, --txt);
}

.date {
  @include text(15px, --txt-2);
}

.currency-rows {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.swapButton {
  margin: 3px 0 3px 0;
  height: 20px;
  padding: 0 3px;
  border: var(--txt) 1px solid;
  border-radius: 6px;
  background: var(--line);
  text-align: center;
  line-height: 100%;

  cursor: pointer;
}