.buttonWrapper {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.filtersWrapper {
  margin-top: 22px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@mixin filterButton($background) {
  flex: 1 1 200px;
  max-width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  background: $background;
  color: white;
  border: none;

  // выравнивание текста
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
}

.saveButton {
  @include filterButton(#3f66bf);
}

.clearButton {
  @include filterButton(#fa3a3a);
}